.icons-header{
    margin-top: 5px;
    width: 1.5%;
    margin-left: 5px;
}
.section1{
    background: linear-gradient(90deg, hsla(0, 98%, 47%, 0.637) 0%, hsla(125, 96%, 11%, 0.607) 35%),url(../images/fondo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 653px;
    width: 100%;
}
.container{
    justify-content: center;
}
.nav-itemd{
    border: 1px solid crimson;
    border-radius: 4px;
}
.nav-item a{
    color: black;
}
.nav-itemd a{
    color: black;
}
#imgheader img{
    width: 80%;
    border: 10px solid black;
    margin-left: 20%;
}
.header2 {
    display: flex;
    margin-right: 4%;
    margin-left: 7%;
}
.header2 h1{
    font-size: 4em;
}
.header2 p{
    font-size: 1.5em;
}
.header2 button{
    background-color: #2eb6ff;
}
.section2{
    background: url(../images/fondo\ nintendo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    padding-top: 5%;
    text-align: center;
}
.titlesec2 h1{
    color:red;
}
.titlesec2 h3{
    color:#04bfe2;
}
.divsec2{
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    padding-left: 16%;
    padding-right: 16%;
    padding-top: 5%;
}
.itemsec2blue{
    color: white;
    border: 4px solid #2eb6ff;
    background-color: black;
    width: 30%;
    padding: 40px 50px 90px 50px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.itemsec2green{
    color: white;
    border: 4px solid #01820b;
    background-color: black;
    width: 30%;
    padding: 40px 50px 90px 50px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.itemsec2red{
    color: white;
    border: 4px solid red;
    background-color: black;
    width: 30%;
    padding: 40px 50px 90px 50px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.itemsec2red img{
    filter: invert(39%) sepia(44%) saturate(6967%) hue-rotate(344deg) brightness(98%) contrast(105%);
    width: 30%;
}
.itemsec2red:hover {
    background-color: rgb(141, 4, 4);
}
.itemsec2blue img{
    filter: invert(58%) sepia(97%) saturate(1606%) hue-rotate(173deg) brightness(100%) contrast(104%);
    width: 30%;
}
.itemsec2blue:hover {
    background-color: #0374b1;
}
.itemsec2green img{
    filter: invert(23%) sepia(98%) saturate(4416%) hue-rotate(111deg) brightness(95%) contrast(99%);
    width: 30%;
}
.itemsec2green:hover {
    background-color: #049f11;
}
.section3{
    background:linear-gradient(90deg, hsla(0, 98%, 47%, 0.637) 0%, hsla(125, 96%, 11%, 0.607) 35%), url(../images/primarios-rgb.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 1260px;
    width: 100%;
    padding-top: 5%;
    text-align: center;
    text-align: center;
}
#titlesec3{
    color: #2eb6ff;
    text-align: right;
    width: 30%;
    margin-left: 55%;
}
.items{
    justify-content: space-between;
    display: flex;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 5%;
}
.item2{
    margin-top: 60px;
}
.item3{
    margin-top: 120px;
}
.itemsec3red{
    color: white;
    border: 4px solid red;
    background-color: black;
    width: 90%;
    padding: 40px 50px 90px 50px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.itemsec3blue{
    color: white;
    border: 4px solid #2eb6ff;
    background-color: black;
    width: 90%;
    padding: 40px 50px 90px 50px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.itemsec3green{
    color: white;
    border: 4px solid #01820b;
    background-color: black;
    width: 90%;
    padding: 40px 50px 90px 50px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.itemsec3red img{
    filter: invert(39%) sepia(44%) saturate(6967%) hue-rotate(344deg) brightness(98%) contrast(105%);
    width: 30%;
}
.itemsec3red:hover {
    background-color: rgb(141, 4, 4);
}
.itemsec3blue img{
    filter: invert(58%) sepia(97%) saturate(1606%) hue-rotate(173deg) brightness(100%) contrast(104%);
    width: 30%;
}
.itemsec3blue:hover {
    background-color: #0374b1;
}
.itemsec3green img{
    filter: invert(23%) sepia(98%) saturate(4416%) hue-rotate(111deg) brightness(95%) contrast(99%);
    width: 30%;
}
.itemsec3green:hover {
    background-color: #049f11;
}
.section4{
    
    color: white;
    background: url(../images/fondo\ play.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    padding-top: 5%;
}
#titlesec4{
    text-align: center;
    width: 30%;
    margin-left: 35%;
}
.formsec4{
    justify-content: space-between;
    display: flex;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 5%;
}
.form > form > input{
    width: 112%;
    padding-left: 10px;
    margin-top: 15px;
    height: 40px;
    border-radius: 8px;
}
#form2 > textarea{
    width: 112%;
    padding-left: 10px;
    margin-top: 15px;
    height: 125px;
    border-radius: 8px;
}
.psec4{
    margin-top: 7%;
    width: 40%;
}
.infpsec4{
    height: 50px;
    display: flex;
}
.infpsec4 > img{
    width: 9%;
}
.inf{
    margin-left: 10px;
    margin-top: 5px;
}
.inf > h5{
    margin-bottom: 0px;
    font-size: 0.9em;
}
.inf > p{
    font-size: 0.9em;
}
#titlesec4 {
    color: #fd0a7f;
}
#titlemess {
    color: #2eb6ff;
}